.custom-margin__top {
    margin-top: 5rem;
  }

  .custom-margin__bottom {
      margin-bottom: 5rem;
  }

  .custom-backgroundColor__tableHeader {
      background: grey;
  }

  th {
      border-style: solid;
      background: grey;
  }

  .custom-center__veritalCenter {
      margin-left: 42%;
  }

  #showData {
      margin-left: 10%;
  }